<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Armadillo</string>
		<key>alphabet</key>
		<string>Aa</string>
		<key>sound</key>
		<string>a_Animal.aiff</string>
		<key>image</key>
		<string>A_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bear</string>
		<key>alphabet</key>
		<string>Bb</string>
		<key>sound</key>
		<string>b_Animal.aiff</string>
		<key>image</key>
		<string>B_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cat</string>
		<key>alphabet</key>
		<string>Cc</string>
		<key>sound</key>
		<string>c_Animal.aiff</string>
		<key>image</key>
		<string>C_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dog</string>
		<key>alphabet</key>
		<string>Dd</string>
		<key>sound</key>
		<string>d_Animal.aiff</string>
		<key>image</key>
		<string>D_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elephant</string>
		<key>alphabet</key>
		<string>Ee</string>
		<key>sound</key>
		<string>e_Animal.aiff</string>
		<key>image</key>
		<string>E_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fox</string>
		<key>alphabet</key>
		<string>Ff</string>
		<key>sound</key>
		<string>f_Animal.aiff</string>
		<key>image</key>
		<string>F_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Giraffe</string>
		<key>alphabet</key>
		<string>Gg</string>
		<key>sound</key>
		<string>g_Animal.aiff</string>
		<key>image</key>
		<string>G_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Horse</string>
		<key>alphabet</key>
		<string>Hh</string>
		<key>sound</key>
		<string>h_Animal.aiff</string>
		<key>image</key>
		<string>H_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Iguana</string>
		<key>alphabet</key>
		<string>Ii</string>
		<key>sound</key>
		<string>i_Animal.aiff</string>
		<key>image</key>
		<string>I_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jaguar</string>
		<key>alphabet</key>
		<string>Jj</string>
		<key>sound</key>
		<string>j_Animal.aiff</string>
		<key>image</key>
		<string>J_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kangaroo</string>
		<key>alphabet</key>
		<string>Kk</string>
		<key>sound</key>
		<string>k_Animal.aiff</string>
		<key>image</key>
		<string>K_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lion</string>
		<key>alphabet</key>
		<string>Ll</string>
		<key>sound</key>
		<string>l_Animal.aiff</string>
		<key>image</key>
		<string>L_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monkey</string>
		<key>alphabet</key>
		<string>Mm</string>
		<key>sound</key>
		<string>m_Animal.aiff</string>
		<key>image</key>
		<string>M_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Newt</string>
		<key>alphabet</key>
		<string>Nn</string>
		<key>sound</key>
		<string>n_Animal.aiff</string>
		<key>image</key>
		<string>N_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Octopus</string>
		<key>alphabet</key>
		<string>Oo</string>
		<key>sound</key>
		<string>o_Animal.aiff</string>
		<key>image</key>
		<string>O_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Panda</string>
		<key>alphabet</key>
		<string>Pp</string>
		<key>sound</key>
		<string>p_Animal.aiff</string>
		<key>image</key>
		<string>P_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quail</string>
		<key>alphabet</key>
		<string>Qq</string>
		<key>sound</key>
		<string>q_Animal.aiff</string>
		<key>image</key>
		<string>Q_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rhino</string>
		<key>alphabet</key>
		<string>Rr</string>
		<key>sound</key>
		<string>r_Animal.aiff</string>
		<key>image</key>
		<string>R_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sheep</string>
		<key>alphabet</key>
		<string>Ss</string>
		<key>sound</key>
		<string>s_Animal.aiff</string>
		<key>image</key>
		<string>S_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tiger</string>
		<key>alphabet</key>
		<string>Tt</string>
		<key>sound</key>
		<string>t_Animal.aiff</string>
		<key>image</key>
		<string>T_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Urial</string>
		<key>alphabet</key>
		<string>Uu</string>
		<key>sound</key>
		<string>u_Animal.aiff</string>
		<key>image</key>
		<string>U_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vulture</string>
		<key>alphabet</key>
		<string>Vv</string>
		<key>sound</key>
		<string>v_Animal.aiff</string>
		<key>image</key>
		<string>V_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Wolf</string>
		<key>alphabet</key>
		<string>Ww</string>
		<key>sound</key>
		<string>w_Animal.aiff</string>
		<key>image</key>
		<string>W_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Xiphactinus</string>
		<key>alphabet</key>
		<string>Xx</string>
		<key>sound</key>
		<string>x_Animal.aiff</string>
		<key>image</key>
		<string>X_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yak</string>
		<key>alphabet</key>
		<string>Yy</string>
		<key>sound</key>
		<string>y_Animal.aiff</string>
		<key>image</key>
		<string>Y_Animal.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zebra</string>
		<key>alphabet</key>
		<string>Zz</string>
		<key>sound</key>
		<string>z_Animal.aiff</string>
		<key>image</key>
		<string>Z_Animal.png</string>
	</dict>
</array>
</plist>
