<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Apple</string>
		<key>alphabet</key>
		<string>Aa</string>
		<key>sound</key>
		<string>a_Fruit.aiff</string>
		<key>image</key>
		<string>A_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Banana</string>
		<key>alphabet</key>
		<string>Bb</string>
		<key>sound</key>
		<string>b_Fruit.aiff</string>
		<key>image</key>
		<string>B_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cherry</string>
		<key>alphabet</key>
		<string>Cc</string>
		<key>sound</key>
		<string>c_Fruit.aiff</string>
		<key>image</key>
		<string>C_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dates</string>
		<key>alphabet</key>
		<string>Dd</string>
		<key>sound</key>
		<string>d_Fruit.aiff</string>
		<key>image</key>
		<string>D_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Eggfruit</string>
		<key>alphabet</key>
		<string>Ee</string>
		<key>sound</key>
		<string>e_Fruit.aiff</string>
		<key>image</key>
		<string>E_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fig</string>
		<key>alphabet</key>
		<string>Ff</string>
		<key>sound</key>
		<string>f_Fruit.aiff</string>
		<key>image</key>
		<string>F_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Grapes</string>
		<key>alphabet</key>
		<string>Gg</string>
		<key>sound</key>
		<string>g_Fruit.aiff</string>
		<key>image</key>
		<string>G_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Honeydew</string>
		<key>alphabet</key>
		<string>Hh</string>
		<key>sound</key>
		<string>h_Fruit.aiff</string>
		<key>image</key>
		<string>H_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ita palm</string>
		<key>alphabet</key>
		<string>Ii</string>
		<key>sound</key>
		<string>i_Fruit.aiff</string>
		<key>image</key>
		<string>I_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jackfruit</string>
		<key>alphabet</key>
		<string>Jj</string>
		<key>sound</key>
		<string>j_Fruit.aiff</string>
		<key>image</key>
		<string>J_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kiwi</string>
		<key>alphabet</key>
		<string>Kk</string>
		<key>sound</key>
		<string>k_Fruit.aiff</string>
		<key>image</key>
		<string>K_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lemon</string>
		<key>alphabet</key>
		<string>Ll</string>
		<key>sound</key>
		<string>l_Fruit.aiff</string>
		<key>image</key>
		<string>L_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mango</string>
		<key>alphabet</key>
		<string>Mm</string>
		<key>sound</key>
		<string>m_Fruit.aiff</string>
		<key>image</key>
		<string>M_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nectarine</string>
		<key>alphabet</key>
		<string>Nn</string>
		<key>sound</key>
		<string>n_Fruit.aiff</string>
		<key>image</key>
		<string>N_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Orange</string>
		<key>alphabet</key>
		<string>Oo</string>
		<key>sound</key>
		<string>o_Fruit.aiff</string>
		<key>image</key>
		<string>O_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pineapple</string>
		<key>alphabet</key>
		<string>Pp</string>
		<key>sound</key>
		<string>p_Fruit.aiff</string>
		<key>image</key>
		<string>P_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Quandong</string>
		<key>alphabet</key>
		<string>Qq</string>
		<key>sound</key>
		<string>q_Fruit.aiff</string>
		<key>image</key>
		<string>Q_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Raspberry</string>
		<key>alphabet</key>
		<string>Rr</string>
		<key>sound</key>
		<string>r_Fruit.aiff</string>
		<key>image</key>
		<string>R_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Strawberry</string>
		<key>alphabet</key>
		<string>Ss</string>
		<key>sound</key>
		<string>s_Fruit.aiff</string>
		<key>image</key>
		<string>S_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamarind</string>
		<key>alphabet</key>
		<string>Tt</string>
		<key>sound</key>
		<string>t_Fruit.aiff</string>
		<key>image</key>
		<string>T_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ugli Fruit</string>
		<key>alphabet</key>
		<string>Uu</string>
		<key>sound</key>
		<string>u_Fruit.aiff</string>
		<key>image</key>
		<string>U_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Voavanga</string>
		<key>alphabet</key>
		<string>Vv</string>
		<key>sound</key>
		<string>v_Fruit.aiff</string>
		<key>image</key>
		<string>V_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Watermelon</string>
		<key>alphabet</key>
		<string>Ww</string>
		<key>sound</key>
		<string>w_Fruit.aiff</string>
		<key>image</key>
		<string>W_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Xigua</string>
		<key>alphabet</key>
		<string>Xx</string>
		<key>sound</key>
		<string>x_Fruit.aiff</string>
		<key>image</key>
		<string>X_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Youngberry</string>
		<key>alphabet</key>
		<string>Yy</string>
		<key>sound</key>
		<string>y_Fruit.aiff</string>
		<key>image</key>
		<string>Y_Fruit.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zucchini</string>
		<key>alphabet</key>
		<string>Zz</string>
		<key>sound</key>
		<string>z_Fruit.aiff</string>
		<key>image</key>
		<string>Z_Fruit.png</string>
	</dict>
</array>
</plist>
