<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alphabet</key>
		<string>Aa</string>
		<key>sound</key>
		<string>a.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Bb</string>
		<key>sound</key>
		<string>b.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Cc</string>
		<key>sound</key>
		<string>c.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Dd</string>
		<key>sound</key>
		<string>d.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Ee</string>
		<key>sound</key>
		<string>e.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Ff</string>
		<key>sound</key>
		<string>f.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Gg</string>
		<key>sound</key>
		<string>g.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Hh</string>
		<key>sound</key>
		<string>h.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Ii</string>
		<key>sound</key>
		<string>i.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Jj</string>
		<key>sound</key>
		<string>j.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Kk</string>
		<key>sound</key>
		<string>k.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Ll</string>
		<key>sound</key>
		<string>l.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Mm</string>
		<key>sound</key>
		<string>m.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Nn</string>
		<key>sound</key>
		<string>n.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Oo</string>
		<key>sound</key>
		<string>o.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Pp</string>
		<key>sound</key>
		<string>p.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Qq</string>
		<key>sound</key>
		<string>q.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Rr</string>
		<key>sound</key>
		<string>r.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Ss</string>
		<key>sound</key>
		<string>s.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Tt</string>
		<key>sound</key>
		<string>t.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Uu</string>
		<key>sound</key>
		<string>u.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Vv</string>
		<key>sound</key>
		<string>v.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Ww</string>
		<key>sound</key>
		<string>w.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Xx</string>
		<key>sound</key>
		<string>x.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Yy</string>
		<key>sound</key>
		<string>y.aiff</string>
	</dict>
	<dict>
		<key>alphabet</key>
		<string>Zz</string>
		<key>sound</key>
		<string>z.aiff</string>
	</dict>
</array>
</plist>
